{% extends 'main/layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<style>
    .com-for-art{
        flex:1; 
        width:880px; 
        height: 45px; 
        resize: none;
    }

    .but_cust {
        text-decoration: none;
        outline: none;
        display: inline-block;
        position: relative;
        padding: 10px 30px;
        border: 2px solid #f1c40f;
        background-color: #ffffff00;
        color: #f1c40f;
        font-family: 'Montserrat', sans-serif;
        transition: .4s;
        margin-left: 5px;
        font-family: 'Montserrat Alternates', sans-serif;
    }

    .but_cust:hover {
        background-color: #c6a68978;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #comment {
        display: flex;
        flex-direction: column;
        background: linear-gradient(135deg, #01706b 0%, #0e447a 100%);
        padding: 20px;
        border-radius: 10px;
    }

    #comment label {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        color: #F5E2CD;
    }

    #comment textarea {
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background: rgb(202, 202, 202);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        {% comment %} width: 100%; {% endcomment %}
        {% comment %} height: 150px; {% endcomment %}
        resize: none;
    }

    .text_comment{
        word-wrap: break-word;
        width: 1040px;
    }
</style>

<div class="blockmain">
    <div class="headname">
        <p>Новости</p>
    </div>
</div>
<div class="block_main_1">
    <div class="post-wrap">
        <div class="post-item">
            <div class="item-content">
                <div class="item-icon-group"></div>
                <div class="item-body">
                    <div class="row">
                        <h3><big>{{ article.title_article }}</big></h3>
                        <div class='from-name'>
                            <p>От: {{ article.user_creator.username }}</p>
                        </div>
                    </div>
                    <div class="text_new">
                        <p>{{ article.text_article }}</p>
                    </div>
                    {% if article.image %}
                    <hr />
                    <center>
                        <img class="img_for_art" src="{{ article.image.url }}">
                    </center>
                    {% endif %}
                    <hr />
                    <form action="" id="comment" method="post" style="text-align: left; float: none; margin-top: 15px;">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="comment" style="display:block;">Комментарий:</label>
                            <div style="display:flex; align-items:center;">
                                {{ form.comment_text }}
                                {% comment %} <textarea class="form-control com-for-art" id="comment" name="comment"
                                    placeholder="Введите ваш комментарий"
                                    oninput="autoResize(this)"></textarea>  {% endcomment %}
                                <button type="submit" class="but_cust">Отправить</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="comment" id="comment" style="border-radius: 10px 10px 0 0;">
                        <h1>Пользователи думают:</h1>
                    </div>
                    <br>
                    <div class="comment" id="comment" style="border-radius: 0 0 10px 10px;">
                        {% if comment %}
                            {% for com in comment|slice:"::-1" %}
                                <div class="comment_block">
                                    <div class="persona_for_com">
                                        <img style="border-radius: 20px"
                                        src=" {% if com.user_message.image %} {{ com.user_message.image.url }} {% else %} http://static.physoc.org/app/uploads/2019/10/09133258/Honorary-Members-placeholder.jpg {% endif %}" weight="40px" height="40px">
                                        
                                    </div>
                                    <div class="text_com">
                                        <p class="username-for-comment">{{ com.user_message.username }}</p>
                                        <p class="text_comment">{{ com.comment_text|linebreaksbr }}</p>
                                    </div>
                                    <div class="last-row" style="{% if com.user_message == request.user %}justify-content: space-between;{% else %}flex-direction: row;{% endif %}">
                                        <p style="float: right;">{{ com.comment_date }}</p>
                                        {% if com.user_message == request.user %}
                                            <a href="{% url 'blogs:delete_comment' com.id %}" title='Удалить комментарий'><i style="font-size: 17px;" class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>На данный момент комментраиев к данной статье не существует.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function autoResize(element) {
        element.style.height = "45px";
        element.style.height = (element.scrollHeight) + "px";
        element.style.width = "880px";
        element.style.width = (element.scrollWidth) + "px";
    }
</script>
{% endblock %}