{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <div class="blockmain">
        <div class="headname">
            <p>Новости</p>
        </div>
    </div>
    <div class="block_main_1">

        {% if not articles %}
            <div class="post-wrap">
                <p class="no_art">В данный момент на сайте нет опубликованных пользователями статей</p>
            </div>
        {% endif %}

        {% for item in articles %}
        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <div class="row">
                            <h3><big>{{ item.title_article }}</big></h3>
                            <div class='from-name'><p>От: {{ item.user_creator.username }}</p></div>
                        </div>
                        <div class="text_new">
                            <p>{{ item.text_article|slice:":500" }}{% if item.text_article|length > 500 %}...{% endif %}</p>
                                <button class="button_news">
                                    <a class="btn" href="{% url 'blogs:article_detail' item.id %}"><span>Читать подробно</span></a>
                                </button>
                        </div>
                        
                        {% if item.image %}
                        <hr>
                        <center>
                            <img class="img_for_art" src="{{ item.image.url }}">
                        </center>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}