{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <div class="blockmain">
        <div class="headname">
            <p>Мои статьи</p>
        </div>
    </div>
    <div class="block_main_1">
        <div class="post-wrap">

            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <h3>Название статьи</h3>
                        <p>Текст статьи</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}