{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
    <div class="blockmain">
        <div class="headname">
            <p>Достижения</p>
        </div>
    </div>
    <div class="block_main_1">
        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <h3>Достижения</h3>
                        <p>Достижения - это задания для Xbox и Steam, которые отслеживаются и отображаются за пределами
                            Sea of Thieves.
                            За них игроку начисляется сумма Gamerscore на аккаунт Xbox и разблокируются иллюстрации,
                            которые можно использовать
                            в качестве обоев. В Steam игроки могут отображать свои заработанные достижения в разделе
                            "Демонстрация достижений"
                            своего профиля игрока. Любые достижения, которые игроки разблокируют в своей учетной записи
                            Xbox, будут синхронизированы
                            с их учетной записью Steam при входе в игру в Steam.

                            Их не следует путать с поощрениями в Sea of Thieves, которые представляют собой
                            внутриигровые испытания,
                            вознаграждающие игроков игровыми титулами, валютой и косметикой.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <h3>Благодарности</h3>
                        <p>Награды - это система достижений Sea of Thieves, и они присуждаются после выполнения
                            определенных требований. Список похвал для каждой фракции можно просмотреть на странице
                            вашей репутации (после открытия страницы выберите фракцию, чтобы просмотреть ее список).
                            Большинство похвал компании имеют пять степеней, с повышением требований к более высоким
                            степеням. Однако эти требования являются кумулятивными; это означает, что достигнутый
                            прогресс также будет учитываться при определении будущих оценок.

                            Некоторые благодарности открывают косметику или названия для покупки или немедленного
                            использования. Другие благодарности могут давать дублоны. Все похвалы, перечисленные в
                            разделе "Определенная компания", вознаградят вас небольшим количеством репутации, для
                            оцененных похвал это вознаграждается один раз за оценку.

                            Если не указано иное, титулы и косметика вознаграждаются только при достижении максимального
                            уровня похвалы.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}