{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
    <header>
    <div class="header_menu">
      <div class="logo">
        <a href="{% url 'index' %}">
          <span style="font-size: 200%;">
            <div class="logophoto">
              <img src="{% static 'main/img/logo.png' %}" width="64" height="64">
            </div>
            Sea of Thieves Wiki
          </span>
        </a>
      </div>
        <nav class="one">
            <ul class="topmenu">
              <li><a href="{% url 'items' %}">Предметы<i class="fa fa-angle-down"></i></a>
              <ul class="submenu">
                <li><a href="">Сундуки</a></li>
                <li><a href="">Оружие</a></li>
              </ul>
              </li>
              <li><a href="{% url 'ships' %}">Корабли</a></li>
              <li><a href="{% url 'npc' %}">Существа<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="">Обычные</a></li>
                  <li><a href="">Уникальные</a></li>
                </ul>
              </li>
              <li><a href="{% url 'storytellings' %}">Истории<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                    <li><a href="">Сезоны</a></li>
                    <li><a href="">Tall Tales</a></li>
                </ul>
                </li>
              <li><a href="{% url 'achivments' %}">Достижения</a></li>
            </ul>
          </nav>

        <div class="search">
        <form>
          <input class="in-put" type="text" placeholder="Искать здесь...">
          <button id="button0" type="submit"></button>
        </form>
      </div>
    </div>
  </header>
  <div class="blure">
    <b>
      <p align="center">Игроки Создают <br> Истории Вместе</p>
  </div>
  <div class="bigcock">
  </div>
  <div class="main">
    <div class="block1">
      <img src="{% static 'main/img/photo1.png' %}" width="950" height="570">
      <p><b>Sea of Thieves — кооперативная многопользовательская компьютерная игра в жанре приключенческого боевика с
        пиратской тематикой, разработанная компанией Rare и издаваемая Microsoft Studios.</p>
      <div class="photo2">
        <img src="{% static 'main/img/photo2.png' %}" width="437" height="328">
      </div>
      <div class="myslider">
        <div class="slider">
          <div class="slider__wrapper">
            <div class="slider__items">
              <div class="slider__item">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img class="slider__item_photo" src="{% static 'main/img/photosliderbackground.png' %}" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">Джо Нит</span>
                    <span class="slider__item_text">
                      Наша игра это инструмент для создания дружбы. Мы хотим сделать как можно больше незнакомцев
                      друзьями.
                    </span>
                  </span>
                </div>
              </div>
              <div class="slider__item">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img src="{% static 'main/img/photo-2.jpg' %}" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">Lawanda Batchelder</span>
                    <span class="slider__item_post">Web Designer</span>
                    <span class="slider__item_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil quo molestiae perspiciatis qui
                      vero?
                    </span>
                  </span>
                </div>
              </div>
              <div class="slider__item">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img src="{% static 'main/img/photo-3.jpg' %}" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">Bennett Arbogast</span>
                    <span class="slider__item_post">Web Developer</span>
                    <span class="slider__item_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil quo molestiae perspiciatis qui
                      vero?
                    </span>
                  </span>
                </div>
              </div>
              <div class="slider__item">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img src="{% static 'main/img/photo-4.jpg' %}" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">Shanna Parcell</span>
                    <span class="slider__item_post">Web Designer</span>
                    <span class="slider__item_text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil quo molestiae perspiciatis qui
                      vero?
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
          <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
        </div>
      </div>
    </div>
    <div class="bigcockend">
    </div>
  </div>


{% endblock %}