{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

  <div class="blure">
    <b>
      <p align="center">Игроки Создают <br> Истории Вместе</p>
  </div>
  <div class="bigbody">
  </div>
  <div class="main">
    <div class="block1">
      <img src="{% static 'main/img/photo1.png' %}" width="950" height="570">
      <p><b>Sea of Thieves — кооперативная многопользовательская компьютерная игра в жанре приключенческого боевика с
          пиратской тематикой, разработанная компанией Rare и издаваемая Microsoft Studios.</p>
      <div class="photo2">
        <img src="{% static 'main/img/photo2.png' %}" width="437" height="328">
      </div>
      <div class="myslider">
        <div class="slider">
          <div class="slider__wrapper">
            <div class="slider__items">
              <div class="slider__item">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img class="slider__item_photo" src="{% static 'main/img/photosliderbackground.png' %}" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">Джо Нит</span>
                    <span class="slider__item_post">Исполнительный продюсер Sea of Thieves</span>
                    <span class="slider__item_text">
                      «Игроки Создают Истории Вместе» действительно было первым названием питча — ещё до того, как мы
                      выбрали пиратскую тематику. Это самое сложное: уловить, что ты хочешь сделать и почему.
                    </span>
                  </span>
                </div>
              </div>
              <div class="slider__item">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img class="slider__item_photo" src="{% static 'main/img/photosliderbackground.png' %}" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">Майк Чепмен</span>
                    <span class="slider__item_post">Дизайн-директор Sea of Thieves</span>
                    <span class="slider__item_text">
                      Сабля всегда остаётся саблей. Пистоль всегда остаётся пистолем. Суть игры не в повышении их
                      характеристик.
                    </span>
                  </span>
                </div>
              </div>
              <div class="slider__item">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img class="slider__item_photo" src="{% static 'main/img/photosliderbackground.png' %}" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">Джо Нит</span>
                    <span class="slider__item_post">Исполнительный продюсер Sea of Thieves</span>
                    <span class="slider__item_text">
                      Наша игра это инструмент для создания дружбы. Мы хотим сделать как можно больше незнакомцев
                      друзьями.
                    </span>
                  </span>
                </div>
              </div>
              <div class="slider__item">
                <div class="slider__item_inner">
                  <span class="slider__item_img">
                    <img class="slider__item_photo" src="{% static 'main/img/photosliderbackground.png' %}" alt="">
                  </span>
                  <span class="slider__item_testimonial">
                    <span class="slider__item_name">Майк Чепмен</span>
                    <span class="slider__item_post">Дизайн-директор Sea of Thieves
                    </span>
                    <span class="slider__item_text">
                      В первой же сессии игроки придумали, что могут сделать его [Сундук Скорби] оружием. Они могли бы
                      проникнуть на корабль врага, спрятать сундук, и потом противник бегал бы в ярости по кораблю, ища
                      пробоины, вместе с этим опускаясь на дно.
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
          <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
        </div>
      </div>
    </div>
    <div class="bigbodyend">
    </div>
  </div>


{% endblock %}