{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

    <div class="sub_blockmain">
        <div class="headname">
            <p>Предметы</p>
        </div>
        <div class="sub_headname">
            <p><small>Оружие</small></p>
            <s></s>
        </div>
    </div>
    <div class="block_main_1">
        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <img src="{% static 'main/img/Сабля_иконка.png' %}" alt="1"
                            style="margin-right: 50px;float:left;width: 175px; height: 175px;margin-bottom:35px;margin-top: 15px;" />

                        <h3>Сабля</h3>

                        <p>Сабля — холодное оружие, которое позволяет проводить различные приёмы. Единственное оружие ближнего боя в игре.
                            Игрок может наносить ей удары, блокировать удары противников, уворачиваться, проводить комбо из трёх ударов и
                            бросаться на противника с разбега. Это делает саблю наиболее гибким оружием, но особые неочевидные приёмы будут
                            доступны только самым искусным фехтовальщикам. Обычные удары наносят 25% урона, заряженные — 60% урона.</p>
                        <button id="button1">
                            <a class="btn"><span>Читать далее</span></a>
                        </button>
                        <div id="rect1">
                            <p>Все новые игроки по умолчанию экипированы саблей моряка. Другие варианты оформления можно купить в оружейном магазине.
                                Влияют они только на внешний вид сабли, но не на её функционал.Саблей можно нанести урон сразу нескольким противникам
                                по дуге. Для уничтожения слабейшего скелета обычного типа достаточно двух прямых ударов саблей, для уничтожения скелета
                                в задании, скелета в форте скелетов или другого игрока — 4 ударов, для уничтожения скелетов в заданиях Сокровищ Афины —
                                7 ударов.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <img src="{% static 'main/img/Пистоль_иконка.png' %}" alt="1"
                            style="margin-right: 50px;float:left;width: 175px; height: 175px;margin-bottom:35px;margin-top: 15px;" />
                        <h3>Пистоль</h3>

                        <p>Пистоль — огнестрельное оружие, эффективное на средней дистанции. Для прицеливания используется мушка, оптического прицела
                            не имеет. Пистоль стреляет и перезаряжается быстрее, чем дальнострел, но и поражает цели на меньшей дистанции. Пули летят
                            по дуге, поэтому при стрельбе издалека целиться нужно особенно тщательно. При стрельбе от бедра точность не ухудшается,
                            что делает пистоль идеальным огнестрельным оружием для ближнего боя и сражения на средней дистанции. Один выстрел из
                            пистоля наносит 50% урона.</p>
                        <button id="button2">
                            <a class="btn"><span>Читать далее</span></a>
                        </button>
                        <div id="rect2">
                            <p>Пистоль эффективен на малой и средней дистанции. Выстреливает единственную пулю. У каждого игрока есть запас
                                боеприпасов на пять выстрелов из пистоля. Пополнить запас можно в сундуке с боеприпасами или в арсенале.
                                Пистоль обеспечивает бОльшую точность стрельбы, чем мушкетон, но меньшие точность и дальность поражения,
                                чем дальнострел, что делает его универсальным оружием. Пули, выпущенные из пистоля, летят по дуге, поэтому
                                при стрельбе по удалённым целям, нужно быть особенно осторожным. Основным преимуществом пистоля является
                                малое время перезарядки и хорошая точность при стрельбе от бедра. Выстрел из пистоля наносит 55% урона,
                                таким образом для убийства игрового пирата нужно два выстрела. Для убийства обычного скелета достаточно
                                одного выстрела, скелета в задании и форте скелетов — 2-3 выстрела, скелета в задании Сокровищ Афины — 3-5 выстрелов.
                                Для уничтожения сапфировой статуи русалки нужно 5 выстрелов из пистоля.Все новые игроки по умолчанию экипированы
                                пистолем моряка. Другие варианты оформления можно купить в оружейном магазине. Влияют они только на внешний вид пистоля,
                                но не его функционал.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <img src="{% static 'main/img/Мушкетон_иконка.png' %}" alt="1"
                            style="margin-right: 50px;float:left;width: 175px; height: 175px;margin-bottom:35px;" />
                        <h3>Мушкетон</h3>
                        <p>Мушкетон — огнестрельное оружие типа дробовика, выстреливающее горстью дроби. Является крайне эффективным в ближнем бою,
                            но на расстоянии теряет убойную силу. Наилучший эффект достигается, если стрелять из мушкетона прицельно, иначе дробины
                            разлетаются слишком широко. При выстреле в персонажа игрока в упор, тот погибнет. Попадание из мушкетона в ближнем бою
                            также сбивает противника с ног. Заряд состоит из 10 дробин, каждая из которых наносит 5-10% урона.</p>
                        <button id="button3">
                            <a class="btn"><span>Читать далее</span></a>
                        </button>
                        <div id="rect3">
                            <p>Мушкетон — оружие типа дробовика, особенно эффективное на ближней дистанции. Выстреливает десять дробин за раз.
                                У каждого игрока есть запас боеприпасов на пять выстрелов из мушкетона. Пополнить запас можно в сундуке с боеприпасами
                                или в арсенале. Мушкетон наносит наибольший урон при точном прицеливании и выстреле в упор. При прицельной стрельбе
                                все дробины летят в центр мишени, при стрельбе от бедра — разлетаются в разные стороны. Выстрел в упор из мушкетона
                                убивает пирата игрока с полным запасом здоровья, что делает это оружие самым смертоносным в игре. Его недостатком
                                является то, что он практически бесполезен на средней дистанции, на которой каждая дробина наносит всего 1-5% урона.
                                Тем не менее дальним выстрелом из мушкетона можно пытаться подорвать пороховую бочку. Для уничтожения обычных скелетов
                                и скелетов в фортах достаточно одного выстрела в упор из мушкетона. Для уничтожения скелетов в путешествиях Сокровищ
                                Афины потребуется 2-3 выстрела. Для разрушения сапфировой статуи русалки нужно 3 выстрела из мушкетона в упор.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <img src="{% static 'main/img/Дальнострел_иконка.png' %}" alt="1"
                             style="margin-right: 50px;float:left;width: 175px; height: 175px;margin-bottom:35px;" />
                        <h3>Дальнострел</h3>

                        <p>Дальнострел — это дальнобойная снайперская винтовка с оптическим прицелом. Трещины в прицеле позволяют пиратам прицелиться
                            наилучшим образом. Дальнострел — идеальное оружие для устранения противников с большого расстояния. При выстреле от бедра
                            пуля скорее всего не попадёт в цель, что делает это оружие бесполезным в ближнем бою. Дальнострел очень мощное оружие,
                            выстрел из которого наносит 70% урона. Оно прекрасно подходит для отстрела скелетов на расстоянии и противников.</p><p></p>
                        <button id="button4">
                            <a class="btn"><span>Читать далее</span></a>
                        </button>
                        <div id="rect4">
                            <p>Как и в случае с подзорной трубой, линзы прицела будут отражать солнечный и лунный
                                свет, выдавая положение игрока, поэтому использовать дальнострел следует с осторожностью. Дальнострел — мощная снайперская винтовка, которая выстреливает единственную пулю и обладает большой дальностью поражения.
                                При стрельбе от бедра крайне неточен. У каждого игрока есть запас боеприпасов на пять выстрелов из дальнострела.
                                Пополнить запас можно в сундуке с боеприпасами или в арсенале. Оптический прицел действует сходным с подзорной трубой
                                образом: приближает и фокусирует видимое игроком. Однако он также отражает солнечный и лунный свет, выдавая положение
                                игрока. В прицеле нет традиционного перекрестия, его роль выполняют две перекрещивающиеся трещины. Один выстрел из
                                дальнострела наносит пирату игрока 70% урона, что значит, что убийство достаточно двух выстрелов. Как и в случае с
                                пистолем, пули, выпущенные из дальнострела, летят по небольшой дуге, при стрельбе по дальним целям необходимо учитывать
                                это и соответственным образом перемещать прицел. Для уничтожения обычных скелетов достаточно одного выстрела из
                                дальнострела, для уничтожения скелетов в заданиях и фортах — 1-3 выстрела, скелетов в заданиях Сокровищ Афины — 3-4
                                выстрела. Для уничтожения сапфировой статуи русалки потребуется 4 выстрела.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}