{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

    <div class="sub_blockmain">
        <div class="headname">
            <p>Предметы</p>
        </div>
        <div class="sub_headname">
            <p><small>Сундуки</small></p>
        </div>
    </div>
    <div class="block_main_1">
        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <img src="{% static 'main/img/Сундуки_с_сокровищами.jpg' %}" alt="1"
                             style="margin-right: 50px;float:left;width: 175px; height: 175px;margin-bottom:35px;margin-top: 15px;" />
                        <h3><big>Сундуки с сокровищами</big></h3>

                        <p><big> Сундук с сокровищами — один из типов сокровищ в Sea of Thieves. Найти их можно по всему миру игры.
                            Эти сундуки заперты на волшебные неразрушимые замки, открыть которые могут только Златодержцы при помощи хранящихся
                            у них отмычек. За сундуки представители Златодержцев в форпостах готовы предложить игрокам золото, репутацию и бонус
                            к степени эмиссарства.</p>


                            <p>Игрок может переносить только один сундук за раз. При переноске невозможно использовать предметы и бегать. Если поставить сундук, он будет испускать белый свет, что делает его заметным на большом расстоянии. Если уронить сундук в воду, он будет плавать и начнёт тонуть через пять минут. Сундуки, которые уронили на твёрдой земле или побережье, теоретически могут остаться в игре навсегда. Нетронутые сундуки исчезают, когда остров перезагружается. Сундуки, которые уронили в глубокую воду, исчезают, погрузившись на дно. Сундуки можно захватывать гарпуном.

                                У каждого обычного сундука есть пепельная и пережившая кораблекрушение версия. Пепельные сундуки можно найти в Дьявольской глотке, от обычных они отличаются жёлтым свечением. Стоят они вдвое больше обычных. Пережившие кораблекрушение сундуки можно найти либо выброшенными на берега островов, либо внутри обломков кораблей. Стоят они столько же, сколько обычные и засчитываются для получения звания "Hoarder of Barnacled Gold". Помимо обычных сундуков существуют два ценных сундука скелетов: Сундук скелета капитана и Сундук из цитадели, получить которые можно после различных столкновений в море; и один призрачный сундук, получить который можно только за уничтожение призрачных капитанских кораблей.

                                Также существуют три проклятых сундука, обладающих особыми свойствами. Сундук тысячи кружек опьяняет несущего его, Сундук скорби время от времени плачет, затапливая корабль, а Сундук ярости разогревается и может взорваться, если не окатывать его водой.
                            <p>&nbsp;</p>
                                <p><big>Где найти.</big></p>
                                Чаще всего сундуки с сокровищами можно выкопать, руководствуясь картой, которую можно получить по индивидуальному заданию или в рамках путешествия Златодержцев. Для выкапывания потребуется лопата. В зависимости от сложности задания для выкапывания сундука нужно разное количество взмахов лопатой. Когда член команды находит сундук, копая в правильном месте, все остальные члены команды получают сообщение о типе сундука и том, кто нашёл его. Отдельные сундуки можно обнаружить лежащими на берегах островов или получить в награду за различные столкновения.
                                <p>&nbsp;</p>
                                <p><big>Механика эмиссарства.</big></p>
                                Все команды, идущие в плавание в качестве Эмиссаров Златодежцев, получают степень эмиссарства, когда впервые подбирают сундук и поднимают его на борт. Степень получают и Эмиссары Костей мертвеца, поскольку они получают бонус за любое похищенное сокровище. Продажа сундуков компаниям не даёт степень эмиссарства, однако игроки получают бонус к репутации эмиссара, которая определяет положение на Ладдере. Чем выше степень эмиссарства команды, тем больше золота, репутации и репутации эмиссара она получает за продажу сундуков с сокровищами.
                            </big>
                            </p>


                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}