{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <script src="https://kit.fontawesome.com/cf5ef8a0fd.js" crossorigin="anonymous"></script>
    <script src="{% static 'main/js/button-scripts.js' %}"></script>
    {% block css %}
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div class="header_menu">
          <div class="logo">
            <a href="{% url 'main:index' %}">
              <span style="font-size: 200%;">
                <div class="logophoto">
                  <img src="{% static 'main/img/logo.png' %}" width="64" height="64">
                </div>
                Sea of Thieves Wiki
              </span>
            </a>
          </div>
            <nav class="one">
                <ul class="topmenu">
                    <li><a href="{% url 'blogs:news' %}">Новости</a></li>
                  <li><a href="{% url 'main:items_chests' %}">Предметы<i class="fa fa-angle-down"></i></a>
                  <ul class="submenu">
                    <li><a href="{% url 'main:items_chests' %}">Сундуки</a></li>
                    <li><a href="{% url 'main:items_weapons' %}">Оружие</a></li>
                  </ul>
                  </li>
                  <li><a href="{% url 'main:ships' %}">Корабли</a></li>
                  <li><a href="{% url 'main:npc' %}">Существа</a></li>
                  <li><a href="{% url 'main:storytellings_seasons' %}">Истории<i class="fa fa-angle-down"></i></a>
                    <ul class="submenu">
                        <li><a href="{% url 'main:storytellings_seasons' %}">Сезоны</a></li>
                        <li><a href="{% url 'main:storytellings_TallTales' %}">Tall Tales</a></li>
                    </ul>
                    </li>
                  <li><a href="{% url 'main:achivments' %}">Достижения</a></li>
                </ul>
              </nav>

            <div class="search">
            <form class="search-form">
              <input class="in-put" type="text" placeholder="Искать здесь...">
              <button id="button0" type="submit"></button>
            </form>
          </div>
        </div>
    </header>
    <div class="profile">
        {% if user.is_anonymous %}
            <div class="profile-headname">
                <p>Нет аккаунта?</p>
            </div>
            
            <div class="nav-profile">
                <li><a href="{% url 'users:login' %}">Войти</a></li>
                <li><a href="{% url 'users:registration' %}">Зарегистрироваться</a></li>
            </div>
        {% else %}
            <div class="profile-headname">
                <p>Профиль</p>
            </div>
            <div class="nav-profile">
                <li><a href="{% url 'users:profile' %}">Аккаунт</a></li>
                <li><a href="{% url 'blogs:new_art' %}">Создать статью</a></li>
                <li><a href="">Мои статьи</a></li>

                {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Админ панель</a></li>
                {% endif %}
                <li><a href="{% url 'users:logout' %}">Выйти</a></li>
            </div>
        {% endif %}

    </div>
    {% block content %}
    {% endblock %}
</body>
</html>