{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

    <div class="blockmain">
        <div class="headname">
            <p>Существа</p>
        </div>
    </div>
    <div class="block_main_1">
        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <img src="{% static 'main/img/Кракен.jpg' %}" alt="1"
                             style="margin-right: 50px;float:left;width: 175px; height: 175px;margin-bottom:35px;margin-top: 15px;" />
                        <h3>Кракен</h3>

                        <p>Кракен — огромное, обладающее множеством щупалец, похожее на кальмара или осьминога существо, которое в Sea of Thieves
                            может напасть на корабль любого размера. Кракен существовал в изначальной версии игры, был на некоторое время выведен из
                            неё, а его доработанную версию вернули в игру в дополнении Shrouded Spoils. Кракен появляется под кораблём, после чего
                            вода темнеет, судно замедляется, и из волн поднимаются до восьми щупалец.</p>
                        <button id="button1">
                            <a class="btn"><span>Читать далее</span></a>
                        </button>
                        <div id="rect1">
                            <p>
                                Щупальца могут засасывать игроков в свои пасти, оборачиваться вокруг корпуса корабля или ударяя его. Кровь кракена
                                ядовита (гибель от неё считается гибелью от яда при попадании на Корабль проклятых), а когда игрок пытается плыть в
                                почерневшей воде, скорость утопления значительно увеличена. Кракен появляется на ограниченное время, и размер полученной
                                в сражении с ним награды определяется количеством уничтоженных щупалец. Кракен исчезает вскоре после того, как все
                                корабли, находящиеся в чернильной воде, тонут, поэтому если игроки хотят поучаствовать в сражении с "чужим" кракеном,
                                им нужно будет заплыть в чернила, а не плавать вокруг этой области. Как и за корабли скелетов и мегалодона, за щупальца
                                кракена можно получить практически любую награду (например Сундуки с сокровищами, черепа, Самоцветы русалок, Ящики или
                                Послание в бутылке) за исключением Легендарных сундуков или Шкатулок тысячи истин. С каждого щупальца падает один кусок
                                мяса кракена и 1-2 трофея. Трофеи появляются именно в том месте, где было уничтожено щупальце, и заметь их, как правило
                                можно уже во время боя. Начиная с обновления The Seabound Soul с кракена может упасть и Пламенеющий сундук.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <img src="{% static 'main/img/Мегалодон.png' %}" alt="1"
                             style="margin-right: 50px;float:left;width: 175px; height: 175px;margin-bottom:35px;margin-top: 15px;" />
                        <h3>Мегалодон</h3>
                        <div class="item-footer">

                        </div>
                        <p>Мегалодон — огромная и весьма опасная акула, которая бороздит воды Sea of Thieves и нападает на корабли игроков.
                            Существует пять разновидностей мегалодонов, различающиеся окраской и частотой появления.

                            Впервые были введены в игру в качестве основного элемента приключения Салаг в Алчущей бездне.
                            Новые разновидности появились в дополнении Shrouded Spoils.</p>
                        <button id="button2">
                            <a class="btn"><span>Читать далее</span></a>
                        </button>
                        <div id="rect2">
                            <p>
                                Мегалодоны — кровожадные чудовища, которые появляются рядом с кораблями игроков в открытом море. Столкновение с мегалодоном начинается, когда звучит
                                напряжённая музыкальная тема существа, после чего мегалодон всплывает из глубин за кораблём и начинает плавать неподалёку от него, пока либо игрок не
                                покинет его охотничьи угодья, либо пока сам мегалодон не будет повержен. Каждый мегалодон обладает собственным характером: степень их агрессивности
                                разнится, некоторое просто плавают, не обращая внимания на игроков, пока на них не нападут.
                                Мегалодон нападает на корабль, подплывая к нему и кусая его, что происходит под тревожную скрипичную мелодию. В зависимости от размера корабля укус о
                                ставляет в корпусе от 1 до 5 пробоин. Для того чтобы уничтожить мегалодона необходимо примерно 14-15 попаданий из пушки, если он напал на шлюп, 15-18
                                попаданий если он напал на бригантину и 30-32 попадания, если он напал на галеон. Шлюпы и бригантины также получают меньший урон от укусов.
                                Игрокам, которые хотят сбежать от мегалодона, следует приблизиться к форпосту, острову, фактории или обломкам кораблей, в таком случае чудовище
                                вернется в локацию, в которой появилось.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <img src="{% static 'main/img/Акула.png' %}" alt="1"
                             style="margin-right: 50px;float:left;width: 175px; height: 175px;margin-bottom:35px;margin-top: 15px;" />
                        <h3>Акула</h3>

                        <p>Акулы — агрессивные существа, обитающие в глубинах морей Sea of Thieves. Они нападают, ударяя головой с разбега и кусая.
                            Каждая атака акулы снимает у персонажа 50% здоровья.
                            Столкнуться с акулами можно только в открытом океане. Их привлекают обломки кораблей, морские сражения и мегалодоны,
                            рядом с которыми они появляются группами от 2 до 4 существ.</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}