{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

    <div class="sub_blockmain">
        <div class="headname">
            <p>Истории</p>
        </div>
        <div class="sub_headname">
            <p><small>Tall Tales</small></p>
        </div>
    </div>
    <div class="block_main_1">
        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <img src="{% static 'main/img/Tall_Tales.png' %}" alt="1"
                             style="margin-right: 50px;float:left;width: 175px; height: 175px;margin-bottom:35px;" />
                        <h3>Tall Tales</h3>
                        <p>
                            <big>
                            Tall Tales - это длинные сюжетные квесты с акцентом на историю Sea of Thieves. Игроки
                            могут проголосовать за начало большинства историй в Книгах историй, проголосовав за одну
                            из них за столом капитанов или найдя ее рядом с NPC, который представит введение и
                            предоставит необходимые квестовые предметы для выбранного приключения. Некоторые истории требуют, чтобы игрок закончил более
                            раннюю небылицу, прежде чем он сможет инициировать голосование за нее.


                                Tall Tales отличаются от других квестов тем, что изначально они начинаются путем голосования за соответствующие книги
                                истории, найденные рядом с конкретными NPC. Эти местоположения отмечены на таблице карт маркерами карты, отображающими
                                значок истории, с которым можно взаимодействовать, когда карта приближена к ним. Эти маркеры можно переключать в
                                настройках игры. Дополнительная информация о том, с чего начинать каждую конкретную историю, также указана на странице
                                "Дополнительная информация" при наведении курсора мыши на отдельные истории на вкладке Истории в меню Репутации.
                                Как только за сказку проголосуют, Книга историй появится в радиальном меню квестов команды. Имея в руках оружие, игроки
                                могут изучать книгу и переворачивать страницы, чтобы читать дальше. Книги историй ведут экипаж к их следующим пунктам
                                назначения с помощью подсказок и головоломок.
                                В дополнение к книгам со сказками игроки будут приобретать различные квестовые предметы во время Tall Tales, которые
                                помогут им продвигаться по сюжету или решать головоломки. Квестовые предметы часто появляются в виде безделушек, ключей и
                                сундуков, которые можно носить с собой, или в виде снаряжения, которое появляется рядом с Книгой истории в радиальном меню
                                квеста. Большинство квестовых предметов также не могут быть проданы ни одной из компаний, что делает их полезными только
                                для команды, которая занимается конкретной историей. Когда игроки теряют свои квестовые предметы, История проваливается,
                                и им придется начинать все сначала.
                            </big>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}