{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

    <div class="sub_blockmain">
        <div class="headname">
            <p>Истории</p>
        </div>
        <div class="sub_headname">
            <p><small>Сезоны</small></p>
        </div>
    </div>
    <div class="block_main_1">
        <div class="post-wrap">
            <div class="post-item">
                <div class="item-content">
                    <div class="item-icon-group"></div>
                    <div class="item-body">
                        <h3>Сезоны</h3>
                        <p>Сезоны в Sea of Thieves - это тематические периоды времени, в течение которых игроки могут
                            пройти 100 уровней славы,
                            чтобы заработать различные косметические средства, титулы и валюту в качестве наград.</p>
                        &nbsp;
                        <p>
                            Сезон будет содержать небольшие ежемесячные обновления, которые могут включать новые
                            функции, косметику, события и
                            дополнения к Пиратскому магазину.</p>
                        <h3>Сезонный прогресс</h3>
                        <h4>Слава</h4>
                        <p>Слава - это показатель прогресса в течение Сезона. Славу можно заработать пассивно с помощью
                            обычного игрового процесса,
                            такого как посещение островов, сбор сокровищ и сражения со скелетами. Испытания можно
                            проводить, чтобы заработать
                            дополнительную славу. Обладая достаточной славой, игрок будет повышать свой уровень славы и
                            открывать награды.</p>
                        <h4>Испытания</h4>
                        <p>Испытания сезона - это особые задания, которые можно выполнить, чтобы заработать
                            дополнительную славу в сезонном продвижении
                            игрока, позволяя ему быстрее повышать уровень. Существует 3 типа испытаний, каждое из
                            которых дает различные усиления:
                            Зеленый (маленький), Синий (средний) и Фиолетовый (большой).</p>
                        <h3>Пропуск грабителя</h3>
                        <p>Покупка пропуска грабителя дает игрокам шанс заработать дополнительные предметы Пиратского магазина в качестве сезонных наград.
                            Эти предметы представляют собой смесь текущих запасов и предметов раннего доступа, которые будут выпущены в Пиратский магазин
                            позже, после окончания сезона.

                            Пропуск грабителя можно купить за 999 древних монет в Пиратском магазине. Он также доступен в магазинах Microsoft Store и
                            Steam Item Store. Игроки могут приобрести пропуск на добычу в любой момент в течение сезона и получат награды за любые уровни,
                            достигнутые до покупки.</p>

                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}